/* ----- Variables ----- */

$color-primary: #0c5adb;
$color-danger: #dc3545;
$color-warning: #f4a100;
$color-success: #00ac69;
$color-secondary: #00138e;
$color-primary-dark: #343434;
$color-secondary-dark: #686c7b;
$color-primary-light: #ffffff;
$color-secondary-light: #f8f9fc;

$font-family-primary: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-family-secondary: 'IBM Plex Sans', 'Helvetica Neue', 'Helvetica', sans-serif;