/* ----- Header ----- */

.header {
     position: relative;

     .top-header {
          position: relative;
          // background: linear-gradient(-45deg, #ac32e4, #7918f2, #0c5adb);
          background: linear-gradient(45deg, #00138e, #0c5adb);
          padding: 1rem 0;

          .top-header-container {

               .top-header-row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    .top-header-column {

                         .top-header-contact {

                              .top-header-contact-wrapper {
                                   display: flex;
                                   flex-wrap: wrap;
                                   line-height: 1;
                                   align-items: center;

                                   .top-header-contact-item {
                                        display: flex;
                                        align-items: center;
                                        margin-right: 1rem;
                                        line-height: 1;
                                        color: $color-primary-light;

                                        .top-header-contact-left {
                                             margin-right: 0.25rem;

                                             .top-header-contact-icon {
                                                  font-size: 40px;
                                             }
                                        }

                                        .top-header-contact-right {

                                             .top-header-contact-link {
                                                  display: block;
                                                  color: $color-primary-light;
                                                  font-size: 14px;
                                                  font-weight: 400;
                                                  margin-top: 5px;
                                                  margin-bottom: 5px;
                                             }
                                             
                                             .top-header-contact-paragraph {
                                                  display: block;
                                                  color: $color-primary-light;
                                                  font-size: 16px;
                                                  font-weight: 400;
                                             }
                                        }
                                   }
                              }
                         }

                         .top-header-social {

                              .top-header-social-wrapper {
                                   display: flex;
                                   flex-wrap: wrap;
                                   justify-content: flex-end;
                                   align-items: center;

                                   .top-header-social-item {
                                        margin-left: 1rem;

                                        .top-header-social-link {
                                             background-color: $color-primary-light;
                                             color: $color-primary;
                                             border-radius: 100%;
                                             height: 40px;
                                             width: 40px;
                                             display: flex;
                                             align-items: center;
                                             justify-content: center;
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }

     .navbar {
          border-bottom: 1px solid #efefef;

          .navbar-container {
               width: 100%;
               margin-left: auto;
               margin-right: auto;

               .navbar-row {
                    position: relative;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    .navbar-logo {

                         .navbar-logo-item {

                              .navbar-logo-link {

                                   .navbar-logo-image {
                                        display: block;
                                        max-width: 250px;
                                        width: 200px;
                                        height: auto;
                                   }
                              }
                         }
                    }

                    .navbar-menu {
                         margin-left: auto;
                         align-items: center;
                         
                         .navbar-menu-item {
                              
                              .navbar-menu-link {
                                   font-size: 18px;
                                   font-weight: 400;
                                   color: $color-primary-dark;
                                   letter-spacing: -0.025em;
                                   transition: all 300ms ease-in;

                                   &.active, &:hover {
                                        color: $color-primary;
                                   }
                              }

                              &:last-child {
                                   padding-right: 0;

                                   .navbar-menu-link {
                                        font-size: 16px;
                                        display: inline-flex;
                                        align-items: center;
                                        background-color: $color-primary;
                                        color: $color-primary-light;
                                        padding-left: 2rem;
                                        padding-right: 2rem;
                                        min-height: 3.5rem;
                                        border-radius: 30px;

                                        &:hover {
                                             background-color: $color-secondary;
                                        }
                                   }
                              }
                         }
                    }

                    .navbar-mobile-menu {
                         
                         .navbar-mobile-menu-button {
                              border: none;
                              display: inline-block;
                              padding: 1rem;
                              text-decoration: none;
                              background-color: transparent;

                              &.active {

                                   .navbar-mobile-menu-button-wrapper {

                                        span {

                                             &:nth-child(1) {
                                                  top: 15px;
                                                  transform: rotate(135deg);
                                             }
          
                                             &:nth-child(2) {
                                                  left: -10px;
                                                  width: 0;
                                                  opacity: 0;
                                             }
          
                                             &:nth-child(3) {
                                                  top: 15px;
                                                  transform: rotate(-135deg);
                                             }
                                        }
                                   }
                              }

                              .navbar-mobile-menu-button-wrapper {
                                   width: 40px;
                                   cursor: pointer;
                                   height: 30px;
                                   margin: 0 auto;
                                   position: relative;
                                   transform: rotate(0deg);
                                   transition: all 0.5s ease-in-out;

                                   span {
                                        left: 0;
                                        width: 100%;
                                        height: 5px;
                                        display: block;
                                        opacity: 1;
                                        position: absolute;
                                        transform: rotate(0deg);
                                        background: $color-primary;
                                        transition: all 0.25s ease-in-out;

                                        &:nth-child(1) {
                                             top: 1px;
                                        }

                                        &:nth-child(2) {
                                             top: 15px;
                                        }

                                        &:nth-child(3) {
                                             top: 30px;
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }
}